.main {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;

  header {
    width: 100%;
    margin: 15px 0;
  }

  .navbar {
    max-width: 500px;
  }

  .main-content {
    width: 100%;
  }
}
