.CrossCheck {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &__Header {
    width: 100%;
    justify-content: space-between;
  }

  &__SelectTask {
    display: flex;
    justify-content: center;
  }

  &__Buttons {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  &__List {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}