.Auth {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
  }

  &__Select {
    width: 100%;
  }

  &__Button {
    margin-top: 20px;
    width: 100%;
  }

  &__Text {
    font-size: 16px;
    font-weight: bold;
  }
}
